.dot {
  animation: bounce 1s infinite;
}

.dot-1 {
  animation-delay: 0s;
}
.dot-2 {
  animation-delay: 0.2s;
}
.dot-3 {
  animation-delay: 0.4s;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.marquee-container {
  overflow: hidden;
}

.marquee-track {
  display: flex;
  width: max-content;
  animation: marquee 50s linear infinite;
}

.marquee-track li {
  flex-shrink: 0;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee-container:hover .marquee {
  animation-play-state: paused;
}
